$h2-color:#cccccc;
$h2-color: #656e85;
$h2-color:#8089A0;
$url-color:#d0d7e8;


div.container {
    overflow:hidden;
    width:100%;
    height:100%;
    & > div {
        display:block;
        float:left;
        padding-bottom:1000px;
        margin-bottom:-1000px;
    }
}

.glass-case-wrapper {
    position:relative;
    width:70%;
    iframe.glass-case {
        width:100%;
        height:550px;
        overflow:scroll;
        border:none;
    }
}

.description-wrapper {
    position:relative;
    width:30%;
    #close-wrapper {
        position:absolute;
        top:0;
        right:0;
        background:transparent;
    }
    h2 {
        display:block;
        margin:0 auto 20px;
        width:80%;
        font:21px verdana;
        color:$h2-color;
        text-shadow:1px 1px 1px black;
    }
    .description {
        width:80%;
        margin:0 auto;
        font:12px verdana;
        text-shadow:1px 1px 0 #666;
        line-height:150%;
        color:white;
        background:#999;
        padding:10px;
        border:1px solid #eee;
        border-radius:10px;
        p:first-child {
            margin-top:0;
            font:bold 12px verdana;
            color:$url-color;
        }
    }
}
