/*
    Variables intended to be available to all style sheets.
*/
html, body {
  height: 100%; }

body {
  background: black; }

h1 {
  font: 12pt arial, helvetica;
  color: #9c9ccd; }

h2 {
  font: 10pt arial, helvetica;
  color: #616639; }

a {
  text-decoration: none;
  color: #a4a877; }
  a:hover {
    color: #d0d87b; }
  a:active {
    color: #565c2f; }
  a:visited {
    color: #3a4664; }

#nav-container {
  position: relative;
  width: 770px;
  height: 39px;
  background: url(/images/nav_bg.jpg) no-repeat; }
  #nav-container #site-title {
    position: absolute;
    top: 11px;
    left: 463px; }

/* Nav Bar */
ul.nav {
  position: absolute;
  top: 12px;
  left: 0;
  margin: 0;
  padding: 0 0 0 10px;
  border-top: 1px solid #737c93;
  border-bottom: 1px solid #737c93;
  background: rgba(115, 124, 147, 0.3); }
  ul.nav > li {
    position: relative;
    list-style-type: none;
    display: block;
    float: left;
    padding-right: 10px;
    font: 14px sans-serif,tahoma,verdana,helvetica,arial; }
    ul.nav > li:hover ul {
      display: block; }
    ul.nav > li > a {
      color: #a8af71;
      text-shadow: 1px 1px 0px #000; }
      ul.nav > li > a:hover {
        color: #bcc291; }
  ul.nav ul {
    display: none;
    position: absolute;
    z-index: 10;
    margin: 0 0 0 10px;
    padding: 0;
    background: white;
    border: 1px solid #84895f;
    border-radius: 3px;
    box-shadow: 1px 1px 2px black;
    width: 100px; }
  ul.nav ul > li {
    list-style-type: none;
    display: block;
    padding: 3px 5px; }
    ul.nav ul > li a {
      display: block;
      width: 100%;
      height: 100%;
      color: #586879; }
    ul.nav ul > li:hover a {
      color: #3db4b4; }
    ul.nav ul > li:not(:first-child) {
      border-top: 1px solid #e1e5c2; }

#page_container {
  margin: 0 auto;
  width: 960px;
  text-align: left;
  background: url(/images/page_bg.png);
  /* 
     Uniform and sufficient column height:
     overflow:hidden on parent div;
     very large padding-bottom;
     margin-bottom set to -1 * padding bottom;
  */
  overflow: hidden; }
  #page_container > div {
    padding-bottom: 1000px;
    margin-bottom: -1000px; }

#left_col {
  width: 190px;
  min-height: 349px;
  float: left; }
  #left_col img:first-child {
    border-bottom: 1px solid #909855; }

#sidebar {
  color: #ccc;
  font: 12px verdana,arial,helvetica;
  padding: 0 10px; }
  #sidebar h2 {
    color: #ffd76e;
    text-shadow: 1px 1px 0px #4f5668; }
  #sidebar a {
    text-shadow: 1px 1px 0px #4f5668; }

#right_col {
  float: left; }
  #right_col #content-wrap {
    width: 770px;
    min-height: 353px;
    background: url(/images/content_bg.jpg) no-repeat; }
  #right_col #content {
    margin: auto;
    width: 670px;
    color: #656e85;
    font: 8pt verdana;
    line-height: 150%;
    padding-top: 30px;
    /* To keep the ancestor div and its previous sibling together. */ }
    #right_col #content p:first-child {
      margin-top: 0; }

#page-footer {
  background: url(/images/page_bg.png); }

code {
  white-space: pre-wrap; }
  code br {
    display: none; }

blockquote {
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px; }

#title-container {
  position: relative;
  width: 770px;
  height: 58px;
  background: url(/images/header_bg2.png) no-repeat; }
  #title-container h1 {
    display: block;
    position: absolute;
    top: 9px;
    left: 47px;
    margin: 0;
    padding: 0;
    font: bold 27px "Century Gothic","Avant Garde Gothic","Avant Garde", arial, helvetica;
    text-shadow: 1px 1px 2px #333;
    letter-spacing: 3px;
    color: #ff9900; }

#copyright {
  margin: 0 auto;
  width: 960px;
  padding: 8px;
  clear: both;
  text-align: right;
  font: 10px verdana;
  color: #999999; }

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45); }

#outer_exhibit {
  position: absolute;
  top: 50%;
  margin-top: -275px;
  height: 550px;
  width: 100%; }

#inner_exhibit {
  width: 95%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #666;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.75); }

#overlay iframe {
  width: 100%;
  height: 100%;
  border: none; }

#close_exhibit {
  position: absolute;
  right: 48px;
  top: -24px;
  width: 12px;
  height: 12px;
  background: red;
  border-radius: 5px;
  cursor: pointer; }

/* For book notes pages */
.javascript_code {
  font-family: courier;
  font-size: 8pt;
  white-space: pre-wrap;
  padding: 3px;
  border: 1px #ccc solid; }

.javascript_inline {
  font-family: courier;
  font-size: 8pt; }
