$page-width:960px;
$left-col-width:190px;
$right-col-width: $page-width - $left-col-width;
$right-margin-width: 50px;
$right-content-width: $right-col-width - 2*$right-margin-width;

$thumb-width:100px;
$book-entry-width: $right-col-width - $right-margin-width*2 - ($thumb-width + 40);
$comments-width: $book-entry-width + 50;

h2 { 
    z-index:0; 
    margin-top:0; 
    padding-top:0; 
}
.book_title { 
    position:relative; 
}
.book_cover { 
    float:left; 
    width:$thumb-width; 
    img {
        box-shadow:2px 2px 2px #000;
    }
}
.book_info { 
    float:left; 
    width:$book-entry-width; 
    padding-bottom:20px; 
    border-bottom: 1px dotted black; 
    margin-bottom:10px; 
}
.booklist { 
    position:relative; 
}
.thoughts { 
    display:none; 
    position:absolute; 
    z-index:10; 
    top:20px; 
    left:0; 
    background:lighten(#eaeacc,10); 
    padding:25px; 
    border:1px solid #ccc; 
    width:$comments-width; 
    height:550px; 
    overflow-y:auto;
    border-radius:5px;
    box-shadow:1px 1px 2px #333;
}
.more { 
    cursor:pointer; 
    color:#cccc99; 
}
.thoughts_masthead { 
    padding-bottom:5px; 
    border-bottom:1px 
    dotted #cccc99; 
    margin-bottom:10px
}
.thoughts_masthead img { }

