/* For home page*/

$page-width:960px;
$left-col-width:190px;
$right-col-width: $page-width - $left-col-width;
$right-margin-width: 50px;
$right-content-width: $right-col-width - 2*$right-margin-width;

$color-home-border-a: #ffd76e;
$color-home-border-b: #909855;
$color-home-border-c: #9999cc;
$color-home-border-d: #656e85;
$color-home-border-e: #ff9900;
$color-home-border-f: #3db4b4;

$tab-width:200px;
$tab-height:30px;

@mixin home-block($color, $ltr) {
    position:relative;
    width:$right-content-width - 2;
    border:1px solid #{$color};
    background: #{$color};
    margin-top:75px;
    border-radius:5px;
    min-height:150px;
    &:before {
        content: " ";
        position:absolute;
        top:-1 * $tab-height - 1;
        left:10px;
        width:$right-content-width - 70;
        height:$tab-height;
        display:block;
        padding:10px 22px;
        font:16px verdana, sans-serif;
        color:white;
        text-shadow:1px 1px 0 #333;
        background:url(/smarty/images/tab_#{$ltr}.png) no-repeat top right;
        background-size:$tab-width $tab-height;
    }
}

.tab {
    position:absolute;
    width:$tab-width;
    top:-1*$tab-height + 10;
    font:16px verdana, sans-serif;
    color:darken(#fff,10%);
    text-shadow:1px 1px 0 #000;
}
.tab-content {
    padding:10px;
    color:darken(#909855,20);
}

#recent-blogs {
    @include home-block($color-home-border-a, a);
    margin-top:0;
    .tab {
        text-align:right;
        padding-right:60px;
        right:0;
    }
}

#code-samples {
    @include home-block($color-home-border-b, b);
    &:before {
        background-position: top center;
    }
    .tab {
        text-align:center;
        margin:0 auto;
        position:relative;
    }
}

#portfolio-highlights {
    @include home-block($color-home-border-d, d);
    &:before {
        background-position: top left;
    }
    .tab {
        padding-left:32px;
    }
    .portfolio-item {
        float:left;
        width:129px;
        img {
            box-shadow:1px 1px 2px black;
            width:100px;
        }
    }
}
